@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Source+Sans+Pro&display=swap');;
*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Source Sans Pro', sans-serif;

}
.footer{
    width:100%;
    height:10rem;
    background-color: blue;
    position: relative;
}
.footer::before{
    content: '';
    position: absolute;
    right: 0px;
    top: -10rem;
    border-right: 5px solid transparent;
    border-bottom: 157px solid #3b00ff;
    border-width: 15rem;
    transform: rotate(270deg);
}
/********************************
*********************************
UTILITY CLASSES
*********************************
********************************/
.mainheading{
    font-size: 3.5rem;
    text-transform: uppercase;
 }
 .mainpara{
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 3rem;
    text-transform: capitalize;
    width:64%;
 }
 .flex{
    display: flex;
 }
 .center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.t_center{
  text-align: center;
}
.w_color{
    color:#fff
}
.r_reverse{
    flex-direction: row-reverse;
}
.header{
    text-transform: uppercase;
    font-size: 3rem;
}
@media screen and (max-width:600px){
      body{
       display: none;
    }   
}